//通用颜色
//主色
$main-color = #1c8acd
$fff = #fff
//body背景
$body-bg = #f6f6f6
$edt-bg = #f0f0f0
//input  默认 color  placeholder
$placeholder = #636363
//黑色按钮鼠标以上--色值暗蓝色
$btnHover = #1c8acd;
//蓝色按钮鼠标以上--色值亮蓝色
$btnBlueHover = #0099e5;

//大标题
$title = #333333
//正文文字
$body-txt = #55595b
//提示性文字
$hint = #999999
//不可操作文字
$un-click = #cccccc
//不可操作边框颜色
$un-border = #eaeaea

//鼠标移上颜色
$hover = #b6b6b6
//错误文字
$error = #f46861
//成功文字
$succeed = #6abc6d
//警示性文字
$caution = #fda73b
//输入框
$input-border = #d7d7d7
//内容块一级边框颜色
$content-border-color1 = #e4e4e4
//内容块横纵边框颜色
$content-border-color2 = #f5f5f5
//列表分割线
$table-bottom-border = #f2f2f2
//工作台内容区块边框
$homePage-content-item-border = #e0e0e0
//日期上不分割线边框
$data-top-border = #f2f2f2
//连体英文按钮边框
$link-button-border = #d6d6d6
//所有弹窗上线分割线颜色
$modal-split-border = #e4e4e4
//封闭式表格样式
$close-table-border = #bdbdbd
$close-table-bg = #f9f9f9
//内容区域标题区域背景色
$content-head-bg = #f2f2f2
//内容区域大背景底色
$content-body-bg = #f8f8f8
//所有虚线边框颜色
$dashed-border-color = #d5d5d5
//图表选项卡边框
$list-select-item-border = #e4e4e4


//主色按钮-鼠标移上
$main-hover = #1e7fb7
//灰色按钮
$gray-color = #d6d6d6
//灰色按钮hover
$gray-hover = #cacaca
//橙色按钮
$orange-color = #fd9727
//橙色按钮hover
$orange-hover = #f28915
//按钮禁用
$disable = #e0e0e0

