@import("//at.alicdn.com/t/font_229641_vx7btfpk43d.css")

.iconFont
  font-family "iconfont" !important
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale


.icon-browse:before
  content "\e785"

.icon-copy:before
  content "\e609"

.icon-Activitylist:before
  content "\e734"

.icon-Basicinformation:before
  content "\e735"

.icon-datastatistics:before
  content "\e736"

.icon-Advertisingcampaign:before
  content "\e737"

.icon-Console:before
  content "\e738"

.icon-datamanagement:before
  content "\e739"

.icon-Permissionsetting:before
  content "\e73a"

.icon-Operationlog:before
  content "\e73b"

.icon-PersonalCenter:before
  content "\e73c"

.icon-sl:before
  content "\e73d"

.icon-tl:before
  content "\e73e"

.icon-show_hide:before
  content "\e73f"

.icon-Clock:before
  content "\e759"

.icon-Collection:before
  content "\e75a"

.icon-error:before
  content "\e75b"

.icon-export:before
  content "\e75c"

.icon-download1:before
  content "\e75d"

.icon-Correct:before
  content "\e75e"

.icon-LOCK:before
  content "\e75f"

.icon-Import:before
  content "\e760"

.icon-minimize:before
  content "\e761"

.icon-Maximization:before
  content "\e762"

.icon-Prompt:before
  content "\e763"

.icon-Open:before
  content "\e764"

.icon-remind_fill:before
  content "\e765"

.icon-Questionmark:before
  content "\e766"

.icon-Return:before
  content "\e767"

.icon-Toolkit:before
  content "\e769"

.icon-Unlock:before
  content "\e76a"

.icon-radio:before
  content "\e76e"

.icon-unradio:before
  content "\e770"

.icon-preservation:before
  content "\e753"

.icon-see:before
  content "\e754"

.icon-Label:before
  content "\e756"

.icon-binding:before
  content "\e757"

.icon-play:before
  content "\e758"

.icon-close:before
  content "\e768"

.icon-cry:before
  content "\e76b"

.icon-list:before
  content "\e76c"

.icon-upload:before
  content "\e76d"

.icon-delete:before
  content "\e771"

.icon-password:before
  content "\e772"

.icon-calendar:before
  content "\e773"

.icon-collection-:before
  content "\e774"

.icon-treeretraction:before
  content "\e775"

.icon-setup:before
  content "\e776"

.icon-treeexpansion:before
  content "\e777"

.icon-refresh:before
  content "\e778"

.icon-Folder:before
  content "\e779"

.icon-search:before
  content "\e77a"

.icon-download:before
  content "\e77b"

.icon-drop-down:before
  content "\e77c"

.icon-Smilingface:before
  content "\e77d"

.icon-user:before
  content "\e77e"

.icon-move:before
  content "\e77f"

.icon-edit:before
  content "\e780"

.icon-edit2:before
  content "\e680"

.icon-Addchilditems:before
  content "\e781"

.icon-checkbox:before
  content "\e76f"

.icon-uncheckbox:before
  content "\e782"

.icon-pagedown:before
  content "\e783"

.icon-pageup:before
  content "\e784"

.icon-linechart:before
  content "\e786"

.icon-histogram:before
  content "\e787"
.icon-more:before
  content "\e60f"
.icon-smallclose:before
  content "\e684"
.icon-textFill:before
  content "\e685"
.icon-pull-down2:before
  content "\e682"
.icon-email:before
  content "\e687"
.icon-password1:before
  content "\e686"
.icon-crumbs:before
  content "\e683"
.icon-user2:before
  content "\e688"
.icon-hint:before
  content "\e685"
.icon-add2:before
  content "\e681"
.icon-table:before
  content "\e689"
.icon-smallclose:before
  content "\e684"
.icon-smallclose1:before
  content "\e68a"
.icon-add:before
  content "\e68b"
.icon-question:before
  content "\e68c"
.icon-prompt1:before
  content "\e692"
.icon-switcher:before
  content "\e691"
.icon-operationlog1:before
  content "\e696"
.icon-Modulemanagement:before
  content "\e69a"
.icon-nextMonth:before
  content "\e66e"
.icon-pie1:before
  content "\e69c"
.icon-treeexpansion-copy:before
  content "\e788"
.icon-treeretraction-copy:before
  content "\e789"
.icon-feedback:before
  content "\e639"
.icon-traffic:before
  content "\e69e"
.icon-creative:before
  content "\e69f"
.icon-frequency:before
  content "\e6a0"
.icon-comments:before
  content "\e6a1"
.icon-xiazuan:before
  content "\e665"
.icon-group:before
  content "\e6a2"
.icon-DMPTAG:before
  content "\e6a3"
.icon-more1-copy:before
  content "\e6a4"
.icon-filter:before
  content "\e6a5"
.icon-table1:before
  content "\e6a6"
.icon-left-arrow:before
  content "\e6a7"
.icon-right-arrow:before
  content "\e6a8"
.icon-data:before
  content "\e6a9"
.icon-setting:before
  content "\e6aa"
.icon-filtrate:before
  content "\e60e"
.icon-platform-Beat:before
  content "\e78a"
.icon-pitchon:before
  content "\e6ab"
.icon-nextstep:before
  content "\e6ac"
.icon-questionmark:before
  content "\e613"
.icon-newtitp:before
  content "\e612"
.icon-alert:before
  content "\e78b"
.icon-uninfo:before
  content "\e63b"
.icon-Order-market:before
  content "\e617"
.icon-Back-stage-management:before
  content "\e618"
.icon-Subscriptiontask:before
  content "\e619"
.icon-Activityinformation:before
  content "\e61a"
.icon-datadisplay:before
  content "\e61b"

.icon-le-add:before
  content "\e60c"

.icon-projection-screen:before
  content "\e62e"

.icon-view-close:before
  content "\e62c"
.icon-view-minimizing:before
  content "\e62b"
.icon-view-maximization:before
  content "\e62a"
.icon-view-play:before
  content "\e629"
.icon-view-stop:before
  content "\e7d5"
.icon-view-next:before
  content "\e628"
.icon-view-prev:before
  content "\e626"
.icon-view-down:before
  content "\e627"
.icon-view-moment:before
  content "\e625"

.icon-top-arrow:before
  content "\e7d6"

.icon-drop-left:before
  content "\e7d7"
.icon-drop-right:before
  content "\e7d8"
.icon-map-back:before
  content "\e7d9"

.icon-data-administration:before
  content "\e645"
.icon-lamp-bulb:before
  content "\e63e"
.icon-link-close:before
  content "\e647"
.icon-drill-add:before
  content "\e648"

.icon-ascending:before
  content "\e643"
.icon-descending_order:before
  content "\e644"
//size
.icon-card-small:before
  content "\e65a"
.icon-card-medium:before
  content "\e65b"
.icon-card-large:before
  content "\e65c"
.icon-card-full:before
  content "\e65d"
.icon-Makeallcardssmall:before
  content "\e65e"
.icon-Returntomydefault:before
  content "\e65f"
.icon-Makeallcardslarge:before
  content "\e660"
.icon-Makeallcardsfull:before
  content "\e661"
.icon-add_columns:before
  content "\e674"
.icon-add_line:before
  content "\e675"
.icon-form:before
  content "\e666"
.icon-No_data:before
  content "\e66a"
.icon-shut_down:before
  content "\e647"

.icon-text:before
  content "\e67c"
.icon-numerical:before
  content "\e67b"
.icon-the_calendar:before
  content "\e67a"
.icon-Exclamation_mark:before
  content "\e676"


.icon-In_Plan:before
  content "\e677"

.icon-Finished:before
  content "\e678"

.icon-Ongoing:before
  content "\e679"

.icon-Left_justifying:before
  content "\e6b4"

.icon-Right_justifying:before
  content "\e6b3"

.icon-Align_center:before
  content "\e6b2"

.icon-downward:before
  content "\e6b1"

.icon-upward:before
  content "\e6b0"

.icon-pack_up:before
  content "\e6b6"

.icon-unflod:before
  content "\e6b5"

.icon-eye_hide:before
  content "\e6af"

.icon-eye_show:before
  content "\e69d"

.icon-zhihang:before
  content "\e63f"

.icon-baocun2:before
  content "\e6b9"

.icon-geshihua:before
  content "\e6b8"

.icon-add_:before
  content "\e66c"

.icon-doubt:before
  content "\e646"

.icon-data-folder:before
  content "\e633"

.icon-open_folders:before
  content "\e635"

.icon-database:before
  content "\e638"

.icon-fenxiang:before
  content "\e6ba"
.icon-qiehuan:before
  content: "\e64d"
.icon-yun-download:before
  content: "\e6c9"
.icon-yun-download-loading:before
  content: "\e61d"
.icon-refresh:before
  content: "\e61e"

.icon-zhibiaoqia:before
  content: "\e6bb"

.icon-red-close:before
  content: "\e6ad"

.icon-baifenbiduijizhuzhuangtu:before
  content: "\e663"
  
.icon-sql-y:before
  content: "\e664"

.icon-InfoFlow:before
  content: "\e657"
  font-size: 16px

.icon-CRMguanlixitong:before
  content: "\e651";

.icon-zhuixingtu:before
  content: "\e667";

.icon-lingcunwei:before
  content: "\e668";

.icon-dianjilv:before
  content: "\e6bf";

.icon-daoda:before
  content: "\e6be";

.icon-pv:before
  content: "\e6bd";

.icon-dingwei:before
  content: "\e66b";

.icon-dingwei_F28C01:before
  content: "\e7f3";

.icon-shangchuan:before
  content: "\e6c2";

.icon-guanbi1:before
  content: "\e6c3";

.icon-guanlian:before
  content: "\e6c1";

.icon-exl:before{
  content: "\e67d";
}

.icon-information:before{
  content: "\e6c8";
}

.icon-database_mixing:before
  content: "\e63d";

.icon-SQL:before
  content: "\e640";

.icon-sql:before{
  content: "\e640";
}

.icon-refesh:before {
  content: "\e6cc";
}

.icon-xinjian:before 
  content: "\e6cf"

.icon-sousuo:before 
  content: "\e6d3"

.icon-buguding:before 
  content: "\e6cd"

.icon-guding:before 
  content: "\e6ce"

.icon-yibiaopanguanli:before 
  content: "\e6d4"

.icon-shoucang:before 
  content: "\e6d1"

.icon-share:before 
  content: "\e6d5"

.icon-wenjianjiazhankai:before 
  content: "\e6d2"

.icon-wenjianjiashouqi:before 
  content: "\e6d0"

.icon-yibiaopanguanli:before 
  content: "\e6d4"
.icon-yibiaopan-caidan:before {
  content: "\e6d6";
}

.icon-wujiaoxing:before 
  content: "\e6d7"

.icon-guanlian1:before 
  content: "\e6c7"
// dc的icon
.icon-dc:before
  content: "\e6de"
// 流量互换的icon
.icon-wxapp:before
  content: "\e6dd"