/*
* 酒红色变量
*/
$main-color = #AF3E69 //主色

$main-hover = #903D5C//主色按钮-鼠标移上
//黑色按钮鼠标以上--色值暗蓝色
$btnHover = #AF3E69;
//蓝色按钮鼠标以上--色值亮蓝色
$btnBlueHover = #903D5C;
$fff = #fff
$black = #000
$body-txt = #55595b //正文文字
$body-bg = #f6f6f6 //body背景
//错误文字
$error = #f46861
//navigation-bgcolor
$header-top-bottom = rgba(255, 255, 255, 0)
$nav-dark-bg = #AF3E69
$nav-linght-bg = #c94175
$nav-hover-color = #6E3649 //菜单hover,active
$nav-a-col = #ffffff
$nav-mask = rgba(0, 0, 0, .12)
$nav-more-bg = #b3446c  //more下拉背景
$nav-more-hover-color = #6E3649 //more下拉菜单hover
$nav-more-close-icon = rgba(51,51,51,.6) //关闭
$action-box-iconCol = #55595b //九宫格iconfont-color
$action-module-hoverBg = #f4f4f4 //操作模块hover+下拉框

//card-collection 背景
$edt-bg = #f0f0f0 
$edt-bg-hover = #ececec 
$edt-bor-bottom-col = #e3e3e3
//新建card指标及拖拽
// $value-drag-bg = #f9f5ea
// $value-drag-bor = #ffe082
// $value-drag-hover-bg = #f9efd3
// $value-drag-hover-bor = #ffd64e 
// $value-drag-txt-col = #c38c06
// $bor-drag = #7b1fa2
// $values-box-bg = #f7eded
// $values-box-bor = #ffccbc
// $values-box-txt-col = #f5501e
// $values-box-hover-bg = #f6e4df
// $values-box-hover-bor = #ffaa90
// $values-box-txt-hover-col = #e64a19
// $val-bor-drag = #ff6f43
$value-drag-bg = #e5eff1
$value-drag-bor = #bed7e0
$value-drag-hover-bg = #d3e8f7
$value-drag-hover-bor = #93cbe2
$value-drag-txt-col = #0d6e99
$bor-drag = #1c8acd
$values-box-bg = #d7f5a9
$values-box-bor = #dce9c2
$values-box-txt-col = #456945
$values-box-hover-bg = #cbf090
$values-box-hover-bor = #b2d99a
$values-box-txt-hover-col = #377a2b
$val-bor-drag = #93c03a
//内容部分的操作下拉
$set-box-icon-col = #898989
$set-box-border-col = #e4e4e4
//内容块横纵边框颜色(操作下拉的分割线)
$set-box-liner-bg = #f5f5f5

//投屏logo-背景
$presentation-bg = #AF3E69

//历史批量删除--active
$his-con-active-bor = rgba(84,179,241,.15)
$his-con-active-bg = rgba(84,179,241,.04)
//不可操作文字
$un-click = #ccc
//日期icon-color
$datepicker-icon-col = #999
//搜索控件
$search-line-bg = #AF3E69
//input
$input-col = #1c8acd
//bar
$bar-col = #AF3E69
//loading
$load-wInnerBall-bg = rgba(0,0,0,0.6)
//上传变量
$upload-bg = #e5eff1
$upload-bor = #a6d1e6
//DMP(Cancel + Use)
$dmp-cancel-hover-bg = #f8f8f8


// //add活动-右侧侧边栏
// $symbol-bor-active = #ebebeb
// $symbol-bor = #eaeaea
// $symbol-bg = #f6f6f6
// $symbol-color = #999
// //策略调整弹窗
// $adjust-strate-con-col = rgba(239,170,40,.5)
// $material-con-hover = #f1efe5
// $material-con-bor = #e5d5b0
//add活动-右侧侧边栏
$symbol-bor-active = #ebebeb
$symbol-bor = #eaeaea
$symbol-bg = #f6f6f6
$symbol-color = #999
//策略调整弹窗
$adjust-strate-con-col = rgba(28, 138, 205,.5)
$$adjust-strate-con-col-hover = #1c8acd
$material-con-hover = #e5eff1
$material-con-bor = #a6d1e6
$material-con-col = #1c8acd
